@page
@model PropertyApp.Pages.Users.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container mt-5">
    <h3>Logging out...</h3>
    <p>If you are not redirected automatically, <a asp-page="/Index">click here</a>.</p>
</div>
